<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>

    @await RenderSectionAsync("OpenGraph", required: false)

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <brand>
            <form class="search-box" asp-controller="Search" method="get">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="keyword" placeholder="Search..." />
            </form>
        </brand>
    </header>
    <main>
        <aside>
            <ul class="gnb">
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-controller="Introduction" asp-action="Index">Introduction</a>
                </li>
                <li>
                    <a asp-controller="Post" asp-action="List">Categories</a>

                    <ul>
                        <li>
                            <a asp-controller="Post" asp-action="List">전체</a>
                        </li>

                        <li>
                            <a asp-controller="Post" asp-action="List" asp-route-category="Category 1">Category 1</a>
                        </li>

                        <li>
                            <a asp-controller="Post" asp-action="List" asp-route-category="Category 2">Category 2</a>
                        </li>

                        <li>
                            <a asp-controller="Post" asp-action="List" asp-route-category="Category 3">Category 3</a>
                        </li>

                        <li>
                            <a asp-controller="Post" asp-action="List" asp-route-category="Category 4">Category 4</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-controller="Search">Search</a>
                </li>
                <li>
                    <a asp-controller="Guestbook">Guestbook</a>
                </li>
            </ul>
        </aside>
        <content>@RenderBody()</content>
    </main>
    <footer>
        <span>Copyright &copy; P.Knowledge, @(DateTime.Now.Year).</span>
        <a class="mdd" href="/Misc/Mdd" target="_blank">Learn about MDD</a>
    </footer>

    <a id ="nagiChan" href="https://www.pixiv.net/en/users/5321039" target="_blank" title="This blog is under construction! / Artwork originally by Zzul">
        <img src="~/temp-resources/construction.png" />
    </a>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
