@model IEnumerable<PEngine.Web.Models.Post>
@{
    ViewBag.Title = "Post List";
    Layout = "_Layout";
}

<div class="post-list-header">
    <ul class="category-wrapper">
        <li>전체 (0)</li>
        <li>Category 1 (0)</li>
        <li>Category 2 (0)</li>
        <li>Category 3 (0)</li>
        <li>Category 4 (0)</li>
    </ul>
    <a class="button dark" asp-controller="Post" asp-action="Write">
        <i class="fa-solid fa-pen"></i> Write
    </a>
</div>

<ul class="post-list">
    @foreach (var post in Model)
    {
        <li class="post-item">
            <img src="#" alt="cover image"/>
            <a asp-controller="Post" asp-action="View" asp-route-id="1">
                <h3>@post.Title</h3>
                
                <ul class="metadata">
                    <li>
                        <i class="fa-solid fa-tags"></i>
                        @(post.Category ?? "Uncategorized")
                    </li>
                    <li>
                        <i class="fa-regular fa-clock"></i>
                        @post.WrittenAt.ToString("yyyy-MM-dd")
                    </li>
                    <li>
                        <i class="fa-regular fa-eye"></i>
                        @($"{post.Hits:N0}")
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                        0
                    </li>
                </ul>
            </a>
        </li>
    }
</ul>
