@inject NavigationManager navManager
@inject MainLayoutViewModel vm

<a @onclick="HandleLinkClick" class="@Class">@ChildContent</a>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Func<Task>? OnClickAsync { get; set; }

    [Parameter]
    public string Href { get; set; } = "";

    [Parameter]
    public string? Class { get; set; }

    private async Task HandleLinkClick()
    {
        if (OnClickAsync is not null)
        {
            await OnClickAsync.Invoke();
        }

        if (string.IsNullOrEmpty(Href)) return;

        vm.BusyLoad(async () =>
        {
            navManager.NavigateTo(Href);
        });
    }
}
