@{
	ViewData["Title"] = "MainPage";
}

<div class="post-shelf post-shelf-featured">
	Featured Series Banner Here
</div>


<div class="post-shelf">
	<h2>Latest Posts</h2>
	<ul class="post-shelf-list">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>


<div class="post-shelf">
	<h2>Category 1</h2>
	<ul class="post-shelf-list">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<div class="post-shelf">
	<h2>Category 2</h2>
	<ul class="post-shelf-list">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<div class="post-shelf">
	<h2>Category 3</h2>
	<ul class="post-shelf-list">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>