<div class="overlay">
    <div class="overlay-dialog">
        <div class="header">
            <i class="fas fa-lock" />
            <h2>Security Confirmation Requested</h2>
        </div>
        <div class="body">
            <p>You have requested a privileged task, additional authorization is required. To proceed, please enter a proper credential.</p>
        </div>
        <div class="footer">
            <!-- Button will be here -->
        </div>
    </div>
</div>

@code {

}
