
.tree {
  list-style: none;
}

.tree .item {
  margin-left: 10px;
  margin-bottom: 5px;
}

.tree .item a {
  text-decoration: none;
  color: inherit;
}

.tree .item label::before {
  display: inline-block;
  content: ' ';
  width: 15px;
  text-align: center;
  padding-right: 5px;
  margin: 0;
}

.tree .item input {
  display: none;
}

.tree .item input + label::before {
  content: '+';
}

.tree .item input + label + ul {
  display: none;
}

.tree .item input:checked + label::before {
  content: '−';
}

.tree .item input:checked + label + ul {
  display: block;
}

.tree .item label {
  cursor: pointer;
}

.tree .item .tree {
  margin-left: 20px;
  margin-top: 5px;
}