<ul class="tree">
    <li class="item">
        <input type="checkbox" id="node_recent" />
        <label>RECENT</label>
    </li>
    <li class="item">
        <input type="checkbox" id="node_root" />
        <label for="node_root">
            <span>ROOT</span>
        </label>
        <ul class="tree">
            <li class="item">
                <input type="checkbox" id="node_2" />
                <label for="node_2">
                    <span>ITEM</span>
                </label>
            </li>
            <li class="item">
                <input type="checkbox" id="node_3" />
                <label for="node_3">
                    <span>ITEM</span>
                </label>
                <ul class="tree">
                    <li class="item">
                        <input type="checkbox" id="node_4" />
                        <label for="node_4">
                            <span>ITEM</span>
                        </label>
                    </li>
                    <li class="item">
                        <input type="checkbox" id="node_5" />
                        <label for="node_5">
                            <span>ITEM</span>
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

@code {

}
