@if (Loading)
{
    <div class="loader-overlay">
        <div class="loading-cog"></div>
    </div>
}

@code {
    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public EventCallback<bool> LoadingChanged { get; set; }

    private async Task UpdateLoadingChanged(bool value)
    {
        Loading = value;
        await LoadingChanged.InvokeAsync(Loading);
    }
}