@inherits LayoutComponentBase
@inject MainLayoutViewModel vm

<PageTitle>PEngine</PageTitle>

<div class="page">
    <header>
        <ul class="gnb">
            <li class="top-item">
                <i class="fas fa-bars"></i>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/">Files</AsyncNavLink>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/introduction">Introduction</AsyncNavLink>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/tags">Tags</AsyncNavLink>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/terminal">Terminal</AsyncNavLink>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/guestbook">Guestbook</AsyncNavLink>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/about">About</AsyncNavLink>
            </li>
        </ul>
        <ul class="gnb">
            <li class="top-item">
                <form action="/search">
                    <input type="text" name="query" placeholder="Search..."  />
                </form>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/login">Login</AsyncNavLink>
            </li>
        </ul>
    </header>
    <main>
        <aside>
            <DirectoryTreeView />
        </aside>
        <content>@Body</content>

        @if (IsBusy)
        {
            <Loader  />
        }

        @if (IsPronamaEnabled)
        {
            <Pronama />
        }
    </main>
    <footer>
        @CurrentStatusMessage
    </footer>
</div>

@code
{
    public bool IsPronamaEnabled { get; set; } = true;
    public bool IsBusy => vm.IsBusy;
    public string CurrentStatusMessage = "Ready";

    protected override void OnInitialized()
    {
        vm.Init(this);
    }

}