@using PEngine.States
@inherits LayoutComponentBase
@inject MainLayoutViewModel vm
@inject UserContext ctx

<PageTitle>PEngine</PageTitle>

<div class="page">
    <header>
        <ul class="gnb">
            <li class="top-item">
                <i class="fas fa-bars menu-toggle"></i>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/">Files</AsyncNavLink>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/introduction">Introduction</AsyncNavLink>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/tags">Tags</AsyncNavLink>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/terminal">Terminal</AsyncNavLink>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/guestbook">Guestbook</AsyncNavLink>
            </li>
            <li class="top-item">
                <AsyncNavLink Href="/about">About</AsyncNavLink>
            </li>
        </ul>
        <ul class="gnb right">
            <li class="top-item">
                <SearchInput />
            </li>
            <li class="user-authview">
                <AuthLinkItem IsAuthenticated="IsAuthenticated" />
            </li>
        </ul>
    </header>
    <main>
        <aside>
            <DirectoryTreeView />
        </aside>
        <content>@Body</content>

        @if (IsBusy)
        {
            <Loader  />
        }

        @if (IsPronamaEnabled)
        {
            <Pronama />
        }
    </main>
    <footer>
        <div class="current-state">
            @CurrentStatusMessage
        </div>
        <div class="current-version">
            <a target="_blank" href="https://github.com/0x00000ff/PEngine/commit/@Program.CurrentGitHash">
                @Program.CurrentGitHash
            </a>
        </div>
    </footer>
</div>

@code
{
    public bool IsPronamaEnabled { get; set; } = true;
    public bool IsBusy => vm.IsBusy;
    public bool IsAuthenticated => vm.IsAuthenticated;
    public string CurrentStatusMessage = "Ready";


    protected override void OnInitialized()
    {
        vm.Init(this);
    }

}