header {
    border-bottom: 1px solid #000;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;

    background: #252525;
    color: #fff;
}

.gnb {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 15px;
}

.gnb:last-child {
    margin: 0 30px 0 auto;
}

.gnb .top-item {
    padding: 0 20px;
    cursor: pointer;
}

::deep .gnb .top-item a {
    color: inherit;
    text-decoration: none;
}

.gnb .top-item form input {
    height: 41px;
    padding: 0 10px;
    width: 200px;
    box-sizing: border-box;
    background: #353535;
    border: 0;
}

.gnb .top-item form input:hover {
    background: #707070;
}

.gnb .top-item form input:hover::placeholder {
    color: #000;
}

.gnb .top-item form input:focus {
    background: #fff;
    color: #000;
}

main::-webkit-scrollbar {
    background: #252525;
    border-left: 1px solid #aaa;
}

main::-webkit-scrollbar-thumb {
    background: #505050;
    border-left: 1px solid #aaa;
}

main {
    margin-top: 42px;
    display: flex;
    overflow: hidden;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    background-color: #F9FBFF;
}

main content {
    width: 100%;
    min-width: calc(100% - 300px);
    padding: 0 0 0 300px;
}

@media screen and (max-width: 1600px) {
    main aside {
        display: none;
    }

    main content {
        padding: 0 0 0 0;
    }
}

@media screen and (min-width: 1601px) {
    main aside {
        width: 100%;
        position: fixed;
        padding: 10px 0;
        top: 42px;
        height: calc(100% - 74px);
        max-width: 300px;
        border-right: 1px solid #aaa;
        background: #303030;
        color: #fff;
    }
}

.tree {
    list-style: none;
}

.tree .item {
    margin-left: 10px;
    margin-bottom: 5px;
}

.tree .item a {
    text-decoration: none;
    color: inherit;
}

.tree .item input {
    display: none;
}

.tree .item input + label::before {
    display: inline-block;
    content: '+';
    width: 15px;
    text-align: center;
    padding-right: 5px;
}

.tree .item input + label + ul {
    display: none;
}

.tree .item input:checked + label::before {
    content: '−';
    width: 15px;
    text-align: center;
    padding-right: 5px;
}

.tree .item input:checked + label + ul {
    display: block;
}

.tree .item label {
    cursor: pointer;
}

.tree .item .tree {
    margin-left: 20px;
    margin-top: 5px;
}

footer {
    border-top: 1px solid #000;
    padding: 0 15px;
    background: #252525;
    color: #fff;
}