<a href="https://kei.pronama.jp" id="pronamaChan" target="_blank" title="Kurei Kei">
    <i></i>
</a>

<a href="https://conoha.mikumo.com/" id="mikumoChan" target="_blank" title="Mikumo Conoha">
    <i></i>
</a>