@{
    ViewBag.Title = "Introduction";
    Layout = "_Layout";
}

<div class="introduce-block">
    <h2>Introduction</h2>
    
    <div class="introduce-block-horiz">
        <img src="#"/>
        <div class="introduce-block">
            <p>Name: </p>
            <p>Birthdate: </p>
            <p>Pronouns: </p>
            <p>Nationality: </p>
            <p>Religion: </p>
            <p>As known as: </p>
            <p>Contact: </p>
        </div>
    </div>
    
    <p>Message Here...</p>
</div>

<div class="introduce-block">
    <h3>Interests</h3>    
</div>

<div class="introduce-block">
    <h3>Skills</h3>    
</div>

<div class="introduce-block">
    <h3>Affiliation</h3>    
</div>

<div class="introduce-block">
    <h3>Education</h3>    
</div>

<div class="introduce-block">
    <h3>Publications</h3>    
</div>