@model PEngine.Web.Models.Introduction?
@{
    ViewBag.Title = "Introduction";
    Layout = "_Layout";

    var birthdate = Model?.Birthdate ?? DateTime.Now;
    var age = Math.Round((DateTime.Now - birthdate).Days / (float)365, 1);
}

<div class="introduce-block">
        <div class="introduce-block-header">
            <h2>Introduction</h2>
            @if (ViewBag.Authenticated)
            {
                <a class="button dark" asp-controller="Introduction" asp-action="Edit">Edit</a>
            }
        </div>
    
    <div class="introduce-block-horiz">
        <img src="/Introduction/ProfileImage" alt="profile image"/>
        <div class="introduce-block">
            <p class="identity-row"><span>Name</span> @Model?.Name</p>  
            <p class="identity-row"><span>Birthdate</span> @birthdate.ToString("yyyy. MM. dd.") (@age y/o)</p>
            <p class="identity-row"><span>Pronouns</span> @Model?.Pronouns</p>
            <p class="identity-row"><span>Nationality</span> @Model?.Nationality</p>
            <p class="identity-row"><span>Religion</span> @Model?.Religion</p>
            <p class="identity-row"><span>As known as</span> @Model?.AsKnown</p>
            <p class="identity-row"><span>Contact</span> @Model?.Contact</p>
        </div>
    </div>
    
    <p>@Model?.Bio</p>
</div>

<div class="introduce-block">
    <h3>Interests</h3>    
</div>

<div class="introduce-block">
    <h3>Skills</h3>    
</div>

<div class="introduce-block">
    <h3>Affiliation</h3>    
</div>

<div class="introduce-block">
    <h3>Education</h3>    
</div>

<div class="introduce-block">
    <h3>Publications</h3>    
</div>