@page "/guestbook/{Page:int?}"

@inject NavigationManager navManager
@inject MainLayoutViewModel mvm

<PageTitle>Guestbook</PageTitle>

<section class="talk-view">
    <h1>Guestbook</h1>
</section>


@code {
    private int _Page = 0;

    [Parameter]
    public int Page
    {
        get => _Page;
        set
        {
            _Page = value < 1 ? 1 : value;
        }
    }
}
