.login-wrapper {
    padding: 15px 30px;
    color: #fff;
}

::deep .login-option {
    margin: 50px 0;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

::deep .classic-login {

    max-width: 500px;
}

::deep .classic-login input {
    padding: 10px;
    background: #505050;
    color: inherit;
    border: 0;
    font-size: 1.2em;
}

::deep .classic-login input[type=button] {
    margin-top: 10px;
    background: #1010ff;
    cursor: pointer;
}

::deep .classic-login input[type=button]:hover {
    background: #3030ff;
}
