@page "/login"

<div class="login-wrapper">
    <h1>PEngine Login</h1>

    <EditForm class="login-option classic-login" Model="LoginModel">
        <h3>With Username/Password</h3>
        <p>Classical way to access into PEngine.</p>
        <label for="usernameInput">Username</label>
        <input type="text" id="usernameInput" name="username" placeholder="Username Here..."/>

        <label for="passwordInput">Password</label>
        <input type="password" id="passwordInput" name="password" placeholder="********" />

        <button><i class="fas fa-lock"></i> LOGIN</button>
    </EditForm>

    <div class="login-option">
        <h3>With Certificate [in Development]</h3>
        <p>Access with pre-registered X.509 certificate.</p>

        <button><i class="fas fa-certificate"></i> UPLOAD CERTIFICATE</button>
    </div>

    <div class="login-option">
        <h3>With Fingerprint [in Development]</h3>
        <p>Access with Windows Hello based Authentication.</p>

        <button><i class="fas fa-fingerprint"></i> START AUTHENTICATION</button>
    </div>
</div>

@code {
    private Models.LoginRequest LoginModel;

    public Login()
    {
        LoginModel = new();
    }

}
