.post-editor {
    display: flex;
    flex-direction: column;
    height: 100%
}

.post-editor .editor-top-row {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #fff;
    height: 25px;
    border-bottom: 1px solid #aaa;
}

.post-editor .editor-top i {
    padding: 0 10px;
}

.post-editor .editor-top input {
    background: inherit;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: .8em;
    flex-grow: 1;
    padding: 0 15px;
}

.post-editor .editor-top button {
    min-width: 30px;
    height: 100%;
    border: 0;
    background: inherit;
    color: inherit;
    cursor: pointer;
    font-size: .9em;
}

.post-editor .editor-top .tool {
    padding: 0 10px;
}

@media screen and (max-width: 650px) {
    .post-editor .editor-top .editor-top-row {
        height: 30px;
    }
    
    .post-editor .editor-top .tool span {
        display: none;
    }
}

.post-editor .editor-top button:hover {
    color: #000;
    background: #fff;
}

::deep .monaco-editor-container {
    flex-grow: 1;
    height: auto;
    cursor: pointer;
    padding: 5px 0;
}