@page "/post/new"
@inject MainLayoutViewModel vm

<div class="post-editor">
    <div class="editor-top">
        <i class="fas fa-file title-icon"></i>
        <div class="title-input" contenteditable="true"></div>
        <button class="save">
            <i class="fas fa-floppy-disk"></i>
        </button>
    </div>
    
    <StandaloneCodeEditor ConstructionOptions="EditorConstructionOptions" OnDidChangeCursorPosition="OnCursorPositionChanged"/>
    
    <div class="editor-bottom">
        
    </div>
</div>

@code
{
    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Theme = "vs-dark",
            Language = "markdown"
        };
    }

    private void OnCursorPositionChanged(CursorPositionChangedEvent e)
    {
        vm.SetStatusbar($"Ln {e.Position.LineNumber}, Col {e.Position.Column}");
    }
}