@page "/register"
@using PEngine.Services

@inject MainLayoutViewModel mvm
@inject UserService service
@inject NavigationManager navManager

<div class="register-wrapper">
    <h1>Create User Account</h1>

    <EditForm class="register-option" Model="_request">
        <label for="usernameInput">Username</label>
        <input type="text" id="usernameInput" placeholder="Username Here..."
               @bind-value="_request.Username" />
        
        <label for="passwordInput">Password</label>
        <input type="password" id="passwordInput" 
               @bind-value="_request.Password" />
        
        <label for="passwordConfirmInput">Password Confirm</label>
        <input type="password" id="passwordConfirmInput" 
               @bind-value="_request.PasswordConfirm" />
        
        <label for="nameInput">Name</label>
        <input type="text" id="nameInput" placeholder="John Doe"
               @bind-value="_request.Name" />
        
        <label for="emailInput">Email</label>
        <input type="email" id="emailInput" placeholder="example@@example.com"
               @bind-value="_request.Email" />

        <button @onclick="HandleRegister"><i class="fas fa-check"></i> CREATE ACCOUNT</button>
    </EditForm>

</div>

@code {
    private UserRegisterRequest _request = new();

    private void HandleRegister()
    {
        mvm.QueueTask(async () =>
        {
            var result = await service.RegisterAsync(_request);
            
            if (result.Success)
            {
                navManager.NavigateTo("/login");
            }
        });
    }
}
