@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<form class="login-form" asp-controller="User" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">
    <h2>Who are you?</h2>
    <div>
        <input type="text" name="username" placeholder="Username..."/>
        <input type="password" name="password" placeholder="Password..."/>
        <input type="submit" class="button dark" value="Login"/>
    </div>
    @Html.AntiForgeryToken()
</form>
