/* fontawesome */
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

/* fontfaces */
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* styles */

:root {
    --theme: #202020;
    --theme-sub: #808080;
    
    --hf-height: 50px;
}

* { margin: 0; padding: 0; box-sizing: border-box }

html { min-height: 100%; }

body { height: 100%; width: 100%; position: relative; padding: var(--hf-height) 0; }

body {
    font-family: SUITE-Regular, 'Meiryo UI', sans-serif;
    background: #ccc;
}

a {
    text-decoration: none;
    color: inherit;
}

/* layout */

header, footer {
    background-color: var(--theme);
    height: var(--hf-height);
    width: 100%;
    z-index: 100;
}

header, footer {
    display: flex;
}

header {
    position: fixed;
    top: 0;
    left: 0;
}

header brand {
    background: var(--theme-sub);
    color: #fff;
    width: 300px;
}

header brand form {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0 20px;
    font-size: 1.5em;
    height: 100%;
}

header brand form input {
    background: transparent;
    border: 0;
    color: #fff;
    border-bottom: 2px solid #fff;
    padding: 7px 0;
    flex: 1;
}

header brand form input:focus {
    outline: none;
}

header brand form input::placeholder {
    color: #fff;
}

main {
    display: flex;
    width: 100%;
    min-height: calc(100vh - var(--hf-height) * 2);
}

aside {
    width: 300px;
    background: #505050;
}

aside .gnb {
    display: flex;
    flex-direction: column;
    color: #000;
    list-style: none;
    font-size: 1.2em;
}

aside .gnb li {
    min-height: 50px;
    transition: .3s;
    border-bottom: 1px solid #202020;
    background: #c0c0c0;
}

aside .gnb li a {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 50px;
}

aside .gnb li ul {
    display: none;
    list-style: none;
    opacity: 0;
    transition: .2s;
}

aside .gnb li:hover ul {
    display: block;
    transition: .2s;
    opacity: 1;
}

aside .gnb li ul li a {
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: .8em;

    height: 50px;
    background-color: #303030;
    color: #fff;
}

aside .gnb li a:hover {
    background: #404040;
    color: #fff;
    transition: .3s;
}

content {
    background-color: #fff;
    width: calc(100% - 300px);
}

footer {
    align-items: center;
    color: #fff;
    font-size: 1em;
    padding: 0 20px;

    position: absolute;
    left: 0;
    bottom: 0;
}

footer .mdd {
    display: block;
    margin-left: auto;
}

/* home/index */

.post-shelf {
    min-height: 300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
}

.post-shelf-featured {
    background: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.6em;
}

.post-shelf h2 {
    font-size: 2em;
}

.post-shelf-list {
    display: flex;
    list-style: none;
    width: 100%;
    white-space: nowrap;
}

.post-shelf-list li {
    height: 250px;
    width: 25%;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .3s;
}

.post-shelf-list li:hover {
    box-shadow: 5px 5px #ccc;
    transition: .3s;
}

.post-shelf-list li a {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    width: 100%;
    padding: 20px;
    position: relative;
}

.post-shelf-list li a h3 {
    font-size: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.post-shelf-list li a p {
    height: 4em;
    font-size: 1.2em;
    word-break: break-all;
    white-space: pre-wrap;
    overflow: hidden;
}

.post-shelf-list li a span {
    position: absolute;
    left: 0px;
    bottom: 20px;
    padding: 3px 20px;
    color: #cacaca;
    transition: .4s;
    width: 100%;
}

.post-shelf-list li:hover a span {
    background: #000;
    transition: .4s;
}

.post-shelf-list li .image-cover {
    padding: 0;
}

.post-shelf-list li .image-cover img {
    height: 100%;
    width: 100%;
    
    border-radius: 15px;
    pointer-events: none;
}

.post-shelf-list li.nothing {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3em;
}

/* introductions */

.introduce-block {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.introduce-block-horiz {
    display: flex;
    gap: 20px;
    align-items: center;
}

.introduce-block-horiz img {
    height: 140px;
    width: 140px;
    border-radius: 70px;
    border: 1px solid #ddd;
    pointer-events: none;
}

.introduce-block .identity-row {
    display: flex;
}

.introduce-block .identity-row span {
    font-weight: bold;
    width: 130px;
    border-right: 1px solid #aaa;
    margin-right: 20px;
}


/* post pages */

.category-wrapper {
    list-style: none;
    white-space: nowrap;
    overflow-x: scroll;
    overflow: hidden;
    padding: 30px;
}

.category-wrapper li {
    display: inline-block;
    margin-right: 15px;
}

.post-list {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding: 0 30px;
    list-style: none;
}

@media screen and (min-width: 1921px) {
    .post-list {
        grid-template-columns: 33% 33% 33%;
    }
}

.post-list .post-item {
    display: flex;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: .4s;
}

.post-list .post-item:hover {
    box-shadow: 4px 4px #aaa;
    transition: .4s;
}

.post-list .post-item img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 0;
}

.post-list .post-item a {
    position: relative;
    padding: 20px;
    display: flex;
    height: 100%;
    flex: 1;
}

.post-list .post-item a ul {
    position: absolute;
    bottom: 15px;
    left: 20px;
    display: flex;
    list-style: none;
    gap: 10px;
}

.post-list .post-item a ul li {
    font-size: .9em;
    white-space: nowrap;
}

/* post page */
article {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article .article-title {
    font-size: 2.4em;
}

article .metadata {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #505050;
}

article .article-body {
    margin: 30px 0;
    line-height: 2em;
}

article .article-tail {
    display: inline-block;
    width: 120px;
}

article .article-tail .article-tail-label {
    cursor: pointer;
}

article .article-tail .article-tail-label:hover {
    text-decoration: underline;
}

article input[type=checkbox] {
    display: none;
}

article .article-tail-collapsible {
    display: none;
}

article input[type=checkbox]:checked + .article-tail-collapsible {
    display: block;
}

article .article-tail-collapsible .comment-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

article .article-tail-collapsible .comment-list li {
    display: flex;
    gap: 20px;
}

article .article-tail-collapsible .comment-list li .icon {
    width: 75px;
    height: 75px;
}

article .article-tail-collapsible .comment-list li .comment-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

article .article-tail-collapsible .comment-list li .comment-header {
    display: flex;
    gap: 15px;
    font-weight: bold;
}

article .article-tail-collapsible .comment-list li .comment-header li {
    gap: 5px;
}

article .article-tail-collapsible .comment-list li .comment-header .comment-header-button {
    cursor: pointer;
    
}

article .article-tail-collapsible .comment-list li .comment-body {
    line-height: 2em;
    font-size: .9em;
}

    /* editor */

.editor-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.editor-form input {
    padding: 5px;
    font-size: 1.2em;
}

/* error pages */

error-wrapper {
    display: flex;
    height: calc(100vh - 120px);
    align-items: center;
    justify-content: center;
}

/* temp */

#nagiChan {
    position: fixed;
    right: 0;
    bottom: 0;
}

/* common components */

text {
    font-family: 'Nanum Myeongjo', serif;
    display: flex;
}


button {}
badge {}