<div class="error-page-wrapper">
    <div class="pronama-chan"></div>
    <div class="text-wrap">
        <h1>
            <i class="fa-solid fa-link-slash"></i> Request Failure: <ruby>Not Found<rt>404</rt></ruby>.
        </h1>
        <p>Suspected to be an error? Please inquire with the site administrator.</p>
    </div>
</div>