<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@(ViewData.Keys.Contains("Title") ? "" : $"{ViewData["Title"]} - ")@ViewData["AppTitle"]</title>
    
    <link rel="stylesheet" type="text/css" href="~/style.css" />
    <script type="text/javascript" src="~/script.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
